$dark_blue: #355070;
$violet: #826F8C;
$light_violet: #B56576;
$coral: #E56B6F;
$light: #F5E2E1;
$btn: linear-gradient(95deg, #4499D9 17.46%, #7367BE 87.77%);
$text: #826F8C;
$title: #EB8382;
$title_dark: #446381;
$white: #FFF;



